{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <h1>Send $10</h1>
        <form action="/charge" method="post" id="payment-form">
            <div class="form-row">
                <label for="card-element">
                    Credit or debit card
                </label>
                <div id="card-element">
                    <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" class="card-errors" role="alert"></div>
            </div>

            <button>Submit Payment</button>
        </form>

        <div class="info">
            <ul>
                <li><strong>Test card number:</strong> 4242 4242 4242 4242</li>
                <li><strong>MM/YY:</strong> 10/28 <small>(or any future date)</small></li>
                <li><strong>CVC:</strong> 123 <small>(or any three random digits)</small></li>
                <li><strong>ZIP:</strong> 12345 <small>(or any five random digits)</small></li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      var stripePublishableKey = '{{ stripePublishableKey }}';
    </script>
    <script src="/javascripts/index.js"></script>
{% endblock %}