body {
  font-size: 100%;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

form {
  width: 450px;
  max-width: 100%;
  border: 2px solid white;
  padding: 3rem;
  border-radius: 10px;
}

form label {
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: bold;
  display: block;
  margin-bottom: 1rem;
}

form button {
  border-radius: 10px;
  background: linear-gradient(to right, #e66465, #9198e5);
  padding: 1rem 2rem;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
}

.info {
  margin-bottom: 2rem;
  font-size: .8em;
}
.info ul {
  padding-left: 0;
  list-style: none;
}
.info ul li {
  margin-bottom: .5rem;
}

.errors {
  margin-bottom: 2rem;
  color: red;
  font-size: .8em;
}